@import url('./awesome/font-awesome.min.css');
@font-face {
    font-family: 'RysLatinModernMono';
    src: url('./RysLatinModernMono.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century';
    src: url('./CenturySchoolbook-Regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Bold';
    src: url('./CenturySchoolbook-Bold-webfont.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Century Italic';
    src: url('./CenturySchoolbook-Italic-webfont.woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Harman Simple';
    src: url('./Harman-Simple-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Harman Retro';
    src: url('./Harman-Retro-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Test';
    src: url('../test/font.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exte';
    src: url('./exte.ttf');
    font-weight: normal;
    font-style: normal;
}

/* i??i??i??i??i??i??i?? #1 13.01.2021 */
/* i??i??i??i??i??i??i??i??i??i?? i??i??i??i??i?? i??i??i??i??i?? */
@font-face {
	font-family: 'Comfortaa';
	src: url('./Comfortaa-Bold-webfont.woff');
	/* font-weight: bold; */
	font-style: normal;
	font-display: swap;
}
/* i??i??i??i??i?? i??i??i??i??i??i??i?? #1 13.01.2021 */